h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
body {
  margin: 2em;
}
 /*
  * See https://github.com/angular/angular.io/blob/master/public/docs/_examples/styles.css
  * for the full set of master styles used by the documentation samples
  */



/*Seven Knights Effects*/
.purple{color:#8B008B;}
.red{color:#e0301e;}
.orange{color:#FF8C00;}
.blue{color:#0000CD;}
.green{color:#32CD32;}
.grey{color:#696969;}

.shine td
{
    font-weight: bold;
    margin: 0 auto;
    width: 700px;
}
.shine.skorange td{
      background: #FF8C00 -webkit-gradient(linear, left top, right top, from(#ff4000), to(#ff4000), color-stop(.8, #fff)) 0 0 no-repeat;
    -webkit-background-size: 125px;
    -webkit-background-clip: text;
}

.shine td{
    color: rgba(255, 255, 255, 0.1);
    -webkit-animation-name: shine;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes shine
{
    0%
    {
        background-position: -10em;
    }
    100%
    {
        background-position: 15em;
    }
}


/*Icon menu for Map-editor*/

.map-menu .icon{
  width: 30px;
  height: 30px;
  margin: 5px;
  display: inline-block;
}

.map-menu .icon-wrap{
  display: inline;
}

.map-menu .icon:hover, .map-menu .icon:focus, .map-menu .icon:active {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(102,170,255,1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(102,170,255,1);
  box-shadow: 0px 0px 5px 1px rgba(102,170,255,1);
}


.map-menu .icon{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.map-menu .active{
  -webkit-box-shadow: 0px 0px 5px 1px rgba(102,170,255,1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(102,170,255,1);
  box-shadow: 0px 0px 5px 1px rgba(102,170,255,1);
  background-color: #6af
}

.map-menu .cell-0{
  border: 1px dashed rgba(0,0,0,0.5);
}

.map-menu .cell-1{
  border: 1px dashed rgba(0,0,0,0.5);
  border-top: 3px solid #333;
}

.map-menu .cell-2{
  border: 1px dashed rgba(0,0,0,0.5);
  border-right: 3px solid #333;
}
.map-menu .cell-3{
  border: 1px dashed rgba(0,0,0,0.5);
  border-bottom: 3px solid #333;
}
.map-menu .cell-4{
  border: 1px dashed rgba(0,0,0,0.5);
  border-left: 3px solid #333;
}
.map-menu .cell-5{
  border: 1px dashed rgba(0,0,0,0.5);
  border-top: 3px solid #333;
  border-left: 3px solid #333;
}
.map-menu .cell-6{
  border: 1px dashed rgba(0,0,0,0.5);
  border-top: 3px solid #333;
  border-right: 3px solid #333;
}
.map-menu .cell-7{
  border: 1px dashed rgba(0,0,0,0.5);
  border-bottom: 3px solid #333;
  border-right: 3px solid #333;
}
.map-menu .cell-8{
  border: 1px dashed rgba(0,0,0,0.5);
  border-bottom: 3px solid #333;
  border-left: 3px solid #333;
}
.map-menu .cell-9{
  border: 1px dashed rgba(0,0,0,0.5);
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
}
.map-menu .cell-10{
  border: 1px dashed rgba(0,0,0,0.5);
  border-left: 3px solid #333;
  border-right: 3px solid #333;
}
.map-menu .cell-11{
  border: 1px dashed rgba(0,0,0,0.5);
  border-top: 3px solid #333;
  border-right: 3px solid #333;
  border-bottom: 3px solid #333;
}
.map-menu .cell-12{
  border: 1px dashed rgba(0,0,0,0.5);
  border-left: 3px solid #333;
  border-bottom: 3px solid #333;
  border-right: 3px solid #333;
}
.map-menu .cell-13{
  border: 1px dashed rgba(0,0,0,0.5);
  border-left: 3px solid #333;
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
}
.map-menu .cell-14{
  border: 1px dashed rgba(0,0,0,0.5);
  border-left: 3px solid #333;
  border-top: 3px solid #333;
  border-right: 3px solid #333;
}
.map-menu .cell-15{
  border: 3px solid #333;
}
