<div class="container">
	<h1>Map Editor</h1>
	x: {{selectedCell.x}} y: {{selectedCell.y}} cellType: {{selectedCellType}}
  <div *ngIf='mapData'>
    	<map [mapData]='mapData' (selectedCell)='onCellSeleted($event)'></map>
      
      <div class="btn btn-primary" (click)='downloadMap()'>Save</div>
      <map-edit-tool [selectedCellType]='selectedCellType' (updateCellType)='editCellType($event)'></map-edit-tool>
    
  </div>

	<form *ngIf='!mapData' #f="ngForm">
        <div class="form-group">
          <label for="x">x Dimension</label>
          <input type="number" class="form-control" name="x" min="0" step="1" [(ngModel)]='xSize' required>
        </div>
        <div class="form-group">
          <label for="y">y Dimension</label>
          <input type="number" class="form-control" name="y" min="0" step="1" [(ngModel)]='ySize' required>
        </div>
		<button type="button" class="btn btn-success" [disabled]="!f.valid" (click)='onCreate(xSize,ySize)'>Create</button>
		<div class="btn btn-primary">Edit</div>
	</form>
</div>
