/*Icon menu for Map-editor*/
.map-menu{
  position: fixed;
  display: inline;
  left: -82px;
  top: 25%;
  width: 100px;
  transition: left .5s;
  padding-left:5px;
}
.map-menu:hover{
  left: -6;
}


.map-menu .icon{
  width: 30px;
  height: 30px;
  margin: 5px;
  display: inline-block;
}

.map-menu .icon-wrap{
  display: inline;
  width:82px;
}

.map-menu .icon:hover, .map-menu .icon:focus, .map-menu .icon:active {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(102,170,255,1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(102,170,255,1);
  box-shadow: 0px 0px 5px 1px rgba(102,170,255,1);
}


.map-menu .icon{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.map-menu .active{
  -webkit-box-shadow: 0px 0px 5px 1px rgba(102,170,255,1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(102,170,255,1);
  box-shadow: 0px 0px 5px 1px rgba(102,170,255,1);
  background-color: #6af
}

.map-menu .cell-0{
  border: 1px dashed rgba(0,0,0,0.5);
}

.map-menu .cell-1{
  border: 1px dashed rgba(0,0,0,0.5);
  border-top: 3px solid #333;
}

.map-menu .cell-2{
  border: 1px dashed rgba(0,0,0,0.5);
  border-right: 3px solid #333;
}
.map-menu .cell-3{
  border: 1px dashed rgba(0,0,0,0.5);
  border-bottom: 3px solid #333;
}
.map-menu .cell-4{
  border: 1px dashed rgba(0,0,0,0.5);
  border-left: 3px solid #333;
}
.map-menu .cell-5{
  border: 1px dashed rgba(0,0,0,0.5);
  border-top: 3px solid #333;
  border-left: 3px solid #333;
}
.map-menu .cell-6{
  border: 1px dashed rgba(0,0,0,0.5);
  border-top: 3px solid #333;
  border-right: 3px solid #333;
}
.map-menu .cell-7{
  border: 1px dashed rgba(0,0,0,0.5);
  border-bottom: 3px solid #333;
  border-right: 3px solid #333;
}
.map-menu .cell-8{
  border: 1px dashed rgba(0,0,0,0.5);
  border-bottom: 3px solid #333;
  border-left: 3px solid #333;
}
.map-menu .cell-9{
  border: 1px dashed rgba(0,0,0,0.5);
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
}
.map-menu .cell-10{
  border: 1px dashed rgba(0,0,0,0.5);
  border-left: 3px solid #333;
  border-right: 3px solid #333;
}
.map-menu .cell-11{
  border: 1px dashed rgba(0,0,0,0.5);
  border-top: 3px solid #333;
  border-right: 3px solid #333;
  border-bottom: 3px solid #333;
}
.map-menu .cell-12{
  border: 1px dashed rgba(0,0,0,0.5);
  border-left: 3px solid #333;
  border-bottom: 3px solid #333;
  border-right: 3px solid #333;
}
.map-menu .cell-13{
  border: 1px dashed rgba(0,0,0,0.5);
  border-left: 3px solid #333;
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
}
.map-menu .cell-14{
  border: 1px dashed rgba(0,0,0,0.5);
  border-left: 3px solid #333;
  border-top: 3px solid #333;
  border-right: 3px solid #333;
}
.map-menu .cell-15{
  border: 3px solid #333;
}
